*{
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    /* background-color:navajowhite;  */
    border: 20px,solid,black;
    
    
}

 #head{
    font-size: 100px;
    text-align: center;
    color:rgb(0, 0, 0);
    background-color:lightsalmon ;
} 

#NAV {
font-size: 25px;
/* background-color:lightsalmon ; */
display: inline;
align-content: space-between;
}
#click{
    background-color: rgb(255, 255, 255);
   
}